* {
    margin: 0;
    padding: 0;
    font-family: 'Alata', sans-serif;
}
html {
    scroll-behavior: smooth;
}
.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-header h1 {
    font-size: 2rem;
    margin-top: 80px;
}
.section-header p {
    font-size: 1rem;
    margin: 50px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: 0.05rem;
}
.section-header {
    margin-bottom: 50px;
}
.section-title {
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 10px;
    letter-spacing: 0.2rem;
    color: black;
    text-align: center;
}
.btn {
    display: inline-block;
    padding: 10px 20px; 
    color: #F5E9DD;
    border: 2px solid #F5E9DD;
    text-decoration: none;
    margin-top: 20px;
    border-radius: 10px;
    background-color: transparent;
    cursor: pointer;
    transition: 0.5s all;
}
.btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.btn span::after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
} 
.btn:hover span {
    padding-right: 25px;
}
.btn:hover span:after {
    opacity: 1;
    right: 0;
}
/*navigation*/
#nav {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
}
#nav .nav {
    min-height: 8vh;
    background-color: black;
}
#nav .navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 0 10px;
}
#nav .logo a{
    font-size: 1rem;
    color: #F5E9DD;
    text-decoration: none;
}
#nav .list ul {
    list-style: none;
    position: absolute;
    background-color: black;
    width: 100vw;
    height: 100vh;
    left: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
    overflow: hidden;
    transition: 0.6s ease left;

}
#nav .list ul.active {
    left: 0;
}
#nav .list ul a {
    font-size: 2.5rem;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 0.1rem;
    color: #F5E9DD;
    padding: 20px;
    display: block;
    border-radius: 10px;
    z-index: 100;
    transition: 0.3s;
}
#nav .list ul a::after {
    content: attr(data-after);
    position: absolute;
    color: rgb(245, 229, 214, 0.5);
    font-size: 8rem;
    letter-spacing: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    z-index: -1;
    transition: 0.3s ease letter-spacing;
}
#nav .list ul li:hover a::after {
    transform: translate(-50%,-50%) scale(1);
    letter-spacing: initial;
}
#nav .list ul li:hover a {
    background-color: #F5E9DD;
    color: black;
}
#nav .menu {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
    z-index: 1000;
    border-radius: 50%;
    cursor: pointer;
    transform: scale(0.8);
    margin-right: 20px;
}
#nav .menu::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid #F5E9DD;
    animation: menu_ring 3s ease infinite;

}
#nav .menu .bar {
    background-color: #F5E9DD;
    position: relative;
    height: 2px;
    width: 30px;
    z-index: -1;
}
#nav .menu .bar::after,
#nav .menu .bar::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: #F5E9DD;
    transition: 0.3s ease;
    transition-property: top, bottom;
}
#nav .menu .bar::after {
    top: 8px;
}
#nav .menu .bar::before {
    bottom: 8px;
}
#nav .menu.menu.active .bar::before {
    bottom: 0;
}
#nav .menu.active .bar::after {
    top: 0;
}
/*end navigation*/

/*scroll to top*/
.top-btn {
    position: fixed;
    right: 50px;
    bottom: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 20px;
    z-index: 100;
    background-color: black;
    color: #F5E9DD;
    border: none;
    cursor: pointer;
    border: 2px solid #F5E9DD;
    visibility: hidden;
    transition: 0.5s all;
    opacity: 0;
}
.top-btn.active {
    visibility: visible;
    opacity: 1;
}
.top-btn:hover {
    background-color: #F5E9DD;
    color: black;
}
/*end scroll to top*/

/*welcome section*/
#welcome {
    background-image: url(/img/background.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    display: flex;
    z-index: 1;
}

#welcome .welcome {
    animation-delay: 4s;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}
#welcome h2 {
    width: fit-content;
    font-size: 4rem;
    position: relative;
    display: block;
    color: transparent;
    animation: text_reveal 0.4s ease forwards;
    animation-delay: 0.8s;
}
#welcome h2:nth-child(1) {
    animation-delay: 0.8s;
}
#welcome h2:nth-child(2) {
    animation-delay: 1.3s;
}
#welcome h2:nth-child(3) {
    animation-delay: 1.8s;
}
#welcome h2 span {
    position: absolute;
    background-color: #F5E9DD;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    animation: text_reveal_box 0.8s ease;
    animation-delay: 0.4s;
}
#welcome h2:nth-child(1) span {
    animation-delay: 0.4s;
}
#welcome h2:nth-child(2) span {
    animation-delay: 0.9s;
}
#welcome h2:nth-child(3) span {
    animation-delay: 1.4s;
}

/*end welcome section*/

/*about section*/
#about .about {
    flex-direction: column;
    text-align: center;
    max-width: 100%;
    margin: 0 auto;

}
#about .details {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-height: 150px;

}
#about .detail-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    overflow: hidden;
    margin: 20px auto;
    border-radius: 10px;

}
#about .item-info {
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    justify-content: center;
    flex-direction: column;
    color: black;
    text-align: left;
}
#about .item-info h1 { 
    font-weight: 500;  
}
#about .item-info p {
    margin-top: 10px;
    justify-items: flex-start;
}
#about .item-info .btn {
    margin-top: 100px;
    margin-bottom: 20px;
}
#about .item-image {
    flex-basis: 50%;
    height: 300px;
    overflow: hidden;
    position: relative;
}
#about .item-image img {
    transition: 0.3s ease transform;
}
#about .detail-item:hover .item-image img{
    transform: scale(1.1);
}
/*end about section*/

/*footer section*/
#footer .container{
    background-color: black;
    min-height: 100px;
}
#footer .footer {
    height: auto;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
}
#footer .contact h2 {
    color: #F5E9DD;
    padding-bottom: 10px;
    border-bottom: 2px solid #F5E9DD;
}
#footer .social-media {
    display: flex;
    margin-top: 10px;
}
#footer .icon {
    font-size: 20px;
    margin: 0 20px;
}
#footer .icon a i {
    color: #F5E9DD;
    transition: 0.3s;
}
#footer .icon:hover i{
    font-size: 25px;
}
#footer p {
    color: #F5E9DD;
    font-size: 12px;
}
#footer .btn {
    border: 0;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 0px;
}
#footer .btn:hover {
    background-color: #F5E9DD;
    color: black;
}
/*end footer section*/

/*references*/
#references .references {
    position: fixed;
}
#references .references.active{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2000;
}
#references .content {
    background-color: black;
    width: 400px;
    max-height: 600px;
    padding: 30px;
    border-radius: 20px;
    border: 2px solid #F5E9DD;
    box-shadow: 0 0 8px rgba(0, 0, 0, 1);
    color: #F5E9DD;
    overflow: auto;

}
#references .reference {
    display: flex;
    flex-direction: column;
    align-self: start;
}
#references .reference li {
    padding-top: 20px;
}
#references .close {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
#references .close i {
    font-size: 30px;
    cursor: pointer;
}
/*end references*/

/*Booking page*/
/*booking welcome*/
#booking {
    background-image: url(/img/Booking.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    display: flex;
    z-index: 1;
}
#booking::after {
    content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.3;
	z-index: -1;
}
#booking .booking {
    animation-delay: 4s;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}
#booking h1 {
    width: fit-content;
    font-size: 4rem;
    position: relative;
    display: block;
    color: transparent;
    animation: text_reveal 0.4s ease forwards;
    animation-delay: 0.8s;
}
#booking h1:nth-child(1) {
    animation-delay: 0.8s;
}
#booking h1 span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #F5E9DD;
    animation: text_reveal_box 0.8s ease;
    animation-delay: 0.4s;
}
#booking h1:nth-child(1) span {
    animation-delay: 0.4s;
}
/*end booking welcome*/

/*Room*/
#room .room {
    flex-direction: column;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
}
#room .types {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#room .type {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    overflow: hidden;
    margin: 20px auto;
    border-radius: 10px;
}
#room .room-info {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    color: #F5E9DD;
}
#room .room-info h1 {
    font-weight: 500;  
}
#room .room-info p {
    margin-top: 10px;
    text-align: left;
}
#room .room-info .btn {
    margin-top: 100px;
    margin-bottom: 20px;
}
#room .room-image {
    flex-basis: 50%;
    height: 300px;
    overflow: hidden;
    position: relative;
}
#room .room-image img {
    transition: 0.3s ease transform;
}
#room .type:hover .room-image img{
    transform: scale(1.1);
}
#room .read-more {
    display: flex;
    font-size: 12px;
    padding: 10px 10px; 
    color: #F5E9DD;
    background-color: transparent;
    border: 2px solid #F5E9DD;
    letter-spacing: 0.1rem;
    margin-top: 20px;
    transition: 0.5s ease;
    border-radius: 10px;
    cursor: pointer; 
}
#room .more-info {
    display: none;
}
#room .info.active .more-info{
    display: inline;
}

#room .book {
    position: fixed;
}
#room .book.active{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1000;
}
#room .book .content {
    background-color: black;
    width: 400px;
    padding: 30px;
    border-radius: 20px;
    border: 2px solid #F5E9DD;
    box-shadow: 0 0 8px rgba(0, 0, 0, 1);
    color: #F5E9DD;
}
#room .book form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#room .book .close {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
#room .book .close i{
    font-size: 30px;
    cursor: pointer;
}
#room .book h2 {
    padding-bottom: 10px;
}
#room .input-field {
    max-width: 350px;
    width: 100%;
    background-color: #F5E9DD;
    margin: 10px 0;
    height: 55px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
    position: relative;
}
#room .input-field i {
    text-align: center;
    line-height: 55px;
    color: black;
    transition: 0.5s;
    font-size: 1.1rem;
}
#room .input-field input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    color: black;
}
#room #date {
    text-transform: uppercase;
}
#room .input-field input::placeholder {
    color: black;
}
#room .input-field:hover {
    box-shadow: 0 0 5px #5DB075;
    background: white;
}
/*end room*/
/*end booking page*/

/*Lunar racing page*/
/*racing welcome*/
#racing {
    background-image: url(/img/MoonRover.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    display: flex;
    z-index: 1;
}
#racing::after {
    content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.3;
	z-index: -1;
}
#racing .racing {
    animation-delay: 4s;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}
#racing h1 {
    width: fit-content;
    font-size: 4rem;
    position: relative;
    display: block;
    color: transparent;
    animation: text_reveal 0.4s ease forwards;
    animation-delay: 0.8s;
}
#racing h1:nth-child(1) {
    animation-delay: 0.8s;
}
#racing h1:nth-child(2) {
    animation-delay: 1.3s;
}
#racing h1 span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #F5E9DD;
    animation: text_reveal_box 0.8s ease;
    animation-delay: 0.4s;
}
#racing h1:nth-child(1) span {
    animation-delay: 0.4s;
}
#racing h1:nth-child(2) span {
    animation-delay: 1s;
}
/*end racing welcome*/

/*route*/
#route .route {
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    padding: 50px 0;
    max-width: 1200px;
}
.outline {
    position: relative;
    margin: 50px;
    padding: 40px 0;
}
.outline::before{
    content: '';
    position: absolute;
    left: 0%;
    width: 2px;
    height: 100%;
    background: black;
}
 .outline ul {
    margin: 0;
    padding: 0;
}
 .outline ul li {
    list-style: none;
    position: relative;
    width: 100%;
    padding: 20px 40px;
    box-sizing: border-box;
}
 .outline ul li:nth-child(odd) {
    float: left;
    text-align: left;
    clear: both;
}
.outline ul li:nth-child(odd)::before {
    content: '';
    position: absolute;
    top: 24px;
    left: -9px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: black;
}
.outline ul li:nth-child(even) {
    float: left;
    text-align: left;
    clear: both;
}
.outline ul li:nth-child(even)::before {
    content: '';
    position: absolute;
    top: 24px;
    left: -9px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: black;
}
#route .location {
    padding-bottom: 20px;
}
#route .location p{
    text-align: left;
}
#route h1 {
    font-size: 2rem;
    margin-top: 80px;
}
#route p {
    margin-top: 20px;
}
/*end route*/
/*end racing page*/

/*Lunar museum page*/
/*museum welcome*/
#museum {
    background-image: url(/img/exploring.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    display: flex;
    z-index: 1;
}
#museum::after {
    content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.3;
	z-index: -1;
}
#museum .museum {
    animation-delay: 4s;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}
#museum h1 {
    width: fit-content;
    font-size: 4rem;
    position: relative;
    display: block;
    color: transparent;
    animation: text_reveal 0.4s ease forwards;
    animation-delay: 0.8s;
}
#museum h1:nth-child(1) {
    animation-delay: 0.8s;
}
#museum h1 span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #F5E9DD;
    animation: text_reveal_box 0.8s ease;
    animation-delay: 0.4s;
}
#museum h1:nth-child(1) span {
    animation-delay: 0.4s;
}
/*end museum welcome*/

/*gallery*/
#gallery .gallery {
    flex-direction: column;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
}
#gallery .container {
    width: 90%;
}
img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.images {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 20px;
}
.image {
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;
    border-radius: 7px;
}
.image h3 {
    width: 100%;
    padding: 20px;
    display: flex;
    position: absolute;
    background-color: #00000040;
    color: #F5E9DD;
    bottom: -100px;
    font-weight: 300;
    transition: 0.3s ease-in-out bottom;
}
.image:hover h3{
    bottom: 0;
}
/*end gallery*/
/*end museum page*/
/*keyframes*/
@keyframes text_reveal_box{
    50% {
        width: 100%;
        left: 0;
    }
    100% {
        width: 0;
        left: 100%;
    }
}
@keyframes text_reveal {
    100% {
        color: #F5E9DD;
    }
}
@keyframes menu_ring {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    50% {
        opacity: 0;
        transform: scale(1.3);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
/*end keyframes*/

/*window reveal event*/
.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s ease ;
}

.reveal.active {
    position: relative;
    transform: translateY(0px);
    opacity: 1;
}
/*end window reveal event*/

/*media*/
/*Desktop*/
@media only screen and (min-width: 1200px) {
    /*nav*/
    #nav .menu {
        display: none;
    }
    #nav .list ul{
        position: initial;
        display: block;
        height: auto;
        width: fit-content;
    }
    #nav .list ul li {
        display: inline-block;
    }
    #nav .list ul li a {
        font-size: 1rem;
    }
    #nav .list ul a::after {
        display: none;
    }
    /*end nav*/
    /*About*/
    #about .detail-item {
        flex-direction: row;
    }
    #about .detail-item:nth-child(even) {
        flex-direction: row-reverse;
    }
    #about .detail-item {
        height: 400px;
        width: 100%;
        margin: 30px;
    }
    #about .details .item-image {
        height: 100%;
    }

    #about .details .item-info {
        height: 100%;
    }
    /*end about*/

    /*room*/
    #room .type {
        flex-direction: row;
    }
    #room .type:nth-child(even) {
        flex-direction: row-reverse;
    }
    #room .type {
        height: 500px;
        width: 100%;
        margin: 30px;
    }
    #room .types .room-image {
        height: 100%;
    }
    #room .types .room-info {
        height: 100%;
    }
    /*end room*/
}
/*end Desktop*/
/*mobile*/
@media only screen and (max-width: 600px) {
    
    /*navigation*/
    #nav .list ul a {
        font-size: 2rem;
    }
    #nav .list ul a::after {
        font-size: 6rem;
    }
    /*end navigation*/

    /*index page*/
    #welcome .text h1 {
        font-size: 2.5rem;
    }
    /*end index page*/
    
    /*museum page*/
    #museum .text h1 {
        font-size: 2.5rem;
    }
    /*end museum page*/

    /*racing page*/
    #racing .text h1 {
        font-size: 2.5rem;
    }
    #route .location h2 {
        font-size: 20px;
    }
    #route .location p{
        display: none;
    }
    /*end racing page*/

    /*Booking page*/
    #booking .text h1 {
        font-size: 2.5rem;
    }
    /*end booking page*/
    /* scroll up*/
    .top-btn {
        position: fixed;
        right: 30px;
        bottom: 30px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        font-size: 10px;
        z-index: 100;
        background-color: black;
        color: #F5E9DD;
        border: none;
        cursor: pointer;
        border: 2px solid #F5E9DD;
        visibility: hidden;
        transition: 0.5s all;
        opacity: 0;
    }
    .top-btn.active {
        visibility: visible;
        opacity: 1;
    }
    .top-btn:hover {
        background-color: #F5E9DD;
        color: black;
    }
    /* end scroll up*/

}
/*end mobile*/
/*end media*/